<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <input type="text" id="loginUsername" placeholder="Username">
    <input type="password" id="loginPassword" placeholder="Password">
    <button type="submit" id="submit">Submit</button>
    <p id="error"></p>
    <p>Don't have an account? <a href="./register">Register</a></p>
    <script>
        const username = document.getElementById('loginUsername')
        const password = document.getElementById('loginPassword')
        const error = document.getElementById('error')
        const submit = document.getElementById('submit')

        submit.addEventListener('click', async () => {
            const response = await fetch('http://localhost:3000/login', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    username: username.value,
                    password: password.value
                })
            })

            const result = await response.json()
            if (response.status === 400) {
                error.innerHTML = result.err
            } else if (response.status === 404) {
                error.innerHTML = result.err
            } else if (response.status === 401) {
                error.innerHTML = result.err
            } else {
                location.replace('./')
            }
        })
    </script>
</body>
</html>